*{
  margin: 0;
  padding: 0;
}
.header {
  background-image: url("../assets/bg.jpg");
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 3rem;
    line-height: 1.17;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding-left: 10px;
    padding-right: 10px;


    h1 {
      color: #fff;
      text-align: center;
      font-family: 'Rubik', sans-serif;
      font-size: 50px;
    }

  }

  span {
    font-family: 'PF DinDisplay Pro';
    color: #8490a4;
    font-size: 1.45rem;
    line-height: 1.4;
    max-width: none;
    margin: 0 auto 20px;
    display: flex;
    text-align: center;

  }
}
.block{
  h1{
    font-size: 2rem;
    font-family:'Rubik', sans-serif ;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 70px;
  }
}

  .list{
    display: flex;
    &__pages{
      display: flex;
      margin-left: 70px;
      &__title{
        line-height: 30px;
        margin-right: 20px;
        margin-top: 30px;
        color: #8490a4;
        width: 360px;
        height: 180px;
        border-radius: 10px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(221, 221, 221);
        border-image: initial;
      }
      &__title:hover{
        border: 2px solid #F53838;
        box-shadow: 0 20px 40px darkgrey;
      }
    }
    &__robot{

    }
  }
